
html
{
	box-sizing : border-box;
}

body
{
}

*,
*:after,
*:before
{
	box-sizing : inherit;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select
{
	-webkit-appearance : none;
	-moz-appearance    : none;
	appearance         : none;
}

.container
{
	margin   : 0 auto;
	position : relative;
	width    : 100%;
}

.row
{
	display                : flex;
	display                : -webkit-flex;
	flex-direction         : row;
	-webkit-flex-direction : row;
	padding                : 0;
	width                  : 100%;
}

.full-col
{
	height : 100%;
}

.row .col
{
	display          : block;
	flex             : 1;
	-webkit-box-flex : 1;
	margin-left      : 0;
	max-width        : 100%;

	/*	Изменеие padding колонок		*/
	/**/ /**/
	/**/
	padding          : 0px; /**/
	/**/ /**/
	/*	Изменеие padding колонок		*/

	width            : 100%;
}

.row.no-padding .col
{
	padding : 0;
}

.row.row-wrap
{
	flex-wrap : wrap;
}

.row.row-top
{
	align-items         : flex-start;
	-webkit-align-items : flex-start;
}

.row.row-bottom
{
	align-items         : flex-end;
	-webkit-align-items : flex-end;
}

.row.row-center
{
	align-items         : center;
	-webkit-align-items : center;
}

.row.row-stretch
{
	align-items         : stretch;
	-webkit-align-items : stretch;
}

.row.row-baseline
{
	align-items         : baseline;
	-webkit-align-items : baseline;
}

.row .col.col-top
{
	align-self : flex-start;
}

.row .col.col-bottom
{
	align-self : flex-end;
}

.row .col.col-center
{
	align-self : center;
}

.row .col.xs-offset-1
{
	margin-left : 8.3333%;
}

.row .col.xs-offset-2
{
	margin-left : 16.66666667%;
}

.row .col.xs-offset-3
{
	margin-left : 25%;
}

.row .col.xs-offset-4
{
	margin-left : 33.33333%;
}

.row .col.xs-offset-5
{
	margin-left : 41.66666667%;
}

.row .col.xs-offset-6
{
	margin-left : 50%;
}

.row .col.xs-offset-7
{
	margin-left : 58.3333%;
}

.row .col.xs-offset-8
{
	margin-left : 66.66666667%;
}

.row .col.xs-offset-9
{
	margin-left : 75%;
}

.row .col.xs-offset-10
{
	margin-left : 83.3333%;
}

.row .col.xs-offset-11
{
	margin-left : 91.66666667%;
}

.row .col.xs-1
{
	flex      : 0 0 8.33333333%;
	max-width : 8.33333333%;
}

.row .col.xs-2
{
	flex      : 0 0 16.66666667%;
	max-width : 16.66666667%;
}

.row .col.xs-3
{
	flex      : 0 0 25%;
	max-width : 25%;
}

.row .col.xs-4
{
	flex      : 0 0 33.33333333%;
	max-width : 33.33333333%;
}

.row .col.xs-5
{
	flex      : 0 0 41.66666667%;
	max-width : 41.66666667%;
}

.row .col.xs-6
{
	flex      : 0 0 50%;
	max-width : 50%;
}

.row .col.xs-7
{
	flex      : 0 0 58.33333333%;
	max-width : 58.33333333%;
}

.row .col.xs-8
{
	flex      : 0 0 66.66666667%;
	max-width : 66.66666667%;
}

.row .col.xs-9
{
	flex      : 0 0 75%;
	max-width : 75%;
}

.row .col.xs-10
{
	flex      : 0 0 83.33333333%;
	max-width : 83.33333333%;
}

.row .col.xs-11
{
	flex      : 0 0 91.66666667%;
	max-width : 91.66666667%;
}

.row .col.xs-12
{
	flex      : 0 0 100%;
	max-width : 100%;
}

.xs-visible,
.sm-visible,
.md-visible,
.lg-visible
{
	display : none !important;
}

@media (max-width : 767px)
{
	.xs-visible
	{
		display : block !important;
	}

	.xs-hidden
	{
		display : none !important;
	}

	/*Порядок размещения блоков*/
	.row .col.order-xs-1
	{
		order : 1;
	}

	.row .col.order-xs-2
	{
		order : 2;
	}

	.row .col.order-xs-3
	{
		order : 3;
	}

	.row .col.order-xs-4
	{
		order : 4;
	}

	.row .col.order-xs-5
	{
		order : 5;
	}

	.row .col.order-xs-6
	{
		order : 6;
	}

	.row .col.order-xs-7
	{
		order : 7;
	}

	.row .col.order-xs-8
	{
		order : 8;
	}

	.row .col.order-xs-9
	{
		order : 9;
	}

	.row .col.order-xs-10
	{
		order : 10;
	}

	.row .col.order-xs-11
	{
		order : 11;
	}

	.row .col.order-xs-12
	{
		order : 12;
	}

}

@media (min-width : 768px) and (max-width : 991px)
{
	/*Порядок размещения блоков*/
	.row .col.order-sm-1
	{
		order : 1;
	}

	.row .col.order-sm-2
	{
		order : 2;
	}

	.row .col.order-sm-3
	{
		order : 3;
	}

	.row .col.order-sm-4
	{
		order : 4;
	}

	.row .col.order-sm-5
	{
		order : 5;
	}

	.row .col.order-sm-6
	{
		order : 6;
	}

	.row .col.order-sm-7
	{
		order : 7;
	}

	.row .col.order-sm-8
	{
		order : 8;
	}

	.row .col.order-sm-9
	{
		order : 9;
	}

	.row .col.order-sm-10
	{
		order : 10;
	}

	.row .col.order-sm-11
	{
		order : 11;
	}

	.row .col.order-sm-12
	{
		order : 12;
	}

	.sm-visible
	{
		display : block !important;
	}

	.sm-hidden
	{
		display : none !important;
	}
}

@media (min-width : 992px) and (max-width : 1199px)
{

	/*Порядок размещения блоков*/
	.row .col.order-md-1
	{
		order : 1;
	}

	.row .col.order-md-2
	{
		order : 2;
	}

	.row .col.order-md-3
	{
		order : 3;
	}

	.row .col.order-md-4
	{
		order : 4;
	}

	.row .col.order-md-5
	{
		order : 5;
	}

	.row .col.order-md-6
	{
		order : 6;
	}

	.row .col.order-md-7
	{
		order : 7;
	}

	.row .col.order-md-8
	{
		order : 8;
	}

	.row .col.order-md-9
	{
		order : 9;
	}

	.row .col.order-md-10
	{
		order : 10;
	}

	.row .col.order-md-11
	{
		order : 11;
	}

	.row .col.order-md-12
	{
		order : 12;
	}

	.md-visible
	{
		display : block !important;
	}

	.md-hidden
	{
		display : none !important;
	}
}

@media (min-width : 1200px)
{
	.lg-visible
	{
		display : block !important;
	}

	.lg-hidden
	{
		display : none !important;
	}
}

@media (min-width : 768px)
{

	.row .col.sm-offset-1
	{
		margin-left : 8.3333%;
	}

	.row .col.sm-offset-2
	{
		margin-left : 16.66666667%;
	}

	.row .col.sm-offset-3
	{
		margin-left : 25%;
	}

	.row .col.sm-offset-4
	{
		margin-left : 33.33333%;
	}

	.row .col.sm-offset-5
	{
		margin-left : 41.66666667%;
	}

	.row .col.sm-offset-6
	{
		margin-left : 50%;
	}

	.row .col.sm-offset-7
	{
		margin-left : 58.3333%;
	}

	.row .col.sm-offset-8
	{
		margin-left : 66.66666667%;
	}

	.row .col.sm-offset-9
	{
		margin-left : 75%;
	}

	.row .col.sm-offset-10
	{
		margin-left : 83.3333%;
	}

	.row .col.sm-offset-11
	{
		margin-left : 91.66666667%;
	}

	.row .col.sm-1
	{
		flex      : 0 0 8.33333333%;
		max-width : 8.33333333%;
	}

	.row .col.sm-2
	{
		flex      : 0 0 16.66666667%;
		max-width : 16.66666667%;
	}

	.row .col.sm-3
	{
		flex      : 0 0 25%;
		max-width : 25%;
	}

	.row .col.sm-4
	{
		flex      : 0 0 33.33333333%;
		max-width : 33.33333333%;
	}

	.row .col.sm-5
	{
		flex      : 0 0 41.66666667%;
		max-width : 41.66666667%;
	}

	.row .col.sm-6
	{
		flex      : 0 0 50%;
		max-width : 50%;
	}

	.row .col.sm-7
	{
		flex      : 0 0 58.33333333%;
		max-width : 58.33333333%;
	}

	.row .col.sm-8
	{
		flex      : 0 0 66.66666667%;
		max-width : 66.66666667%;
	}

	.row .col.sm-9
	{
		flex      : 0 0 75%;
		max-width : 75%;
	}

	.row .col.sm-10
	{
		flex      : 0 0 83.33333333%;
		max-width : 83.33333333%;
	}

	.row .col.sm-11
	{
		flex      : 0 0 91.66666667%;
		max-width : 91.66666667%;
	}

	.row .col.sm-12
	{
		flex      : 0 0 100%;
		max-width : 100%;
	}
}

@media (min-width : 992px)
{

	.row .col.md-offset-1
	{
		margin-left : 8.3333%;
	}

	.row .col.md-offset-2
	{
		margin-left : 16.66666667%;
	}

	.row .col.md-offset-3
	{
		margin-left : 25%;
	}

	.row .col.md-offset-4
	{
		margin-left : 33.33333%;
	}

	.row .col.md-offset-5
	{
		margin-left : 41.66666667%;
	}

	.row .col.md-offset-6
	{
		margin-left : 50%;
	}

	.row .col.md-offset-7
	{
		margin-left : 58.3333%;
	}

	.row .col.md-offset-8
	{
		margin-left : 66.66666667%;
	}

	.row .col.md-offset-9
	{
		margin-left : 75%;
	}

	.row .col.md-offset-10
	{
		margin-left : 83.3333%;
	}

	.row .col.md-offset-11
	{
		margin-left : 91.66666667%;
	}

	.row .col.md-1
	{
		flex      : 0 0 8.33333333%;
		max-width : 8.33333333%;
	}

	.row .col.md-2
	{
		flex      : 0 0 16.66666667%;
		max-width : 16.66666667%;
	}

	.row .col.md-3
	{
		flex      : 0 0 25%;
		max-width : 25%;
	}

	.row .col.md-4
	{
		flex      : 0 0 33.33333333%;
		max-width : 33.33333333%;
	}

	.row .col.md-5
	{
		flex      : 0 0 41.66666667%;
		max-width : 41.66666667%;
	}

	.row .col.md-6
	{
		flex      : 0 0 50%;
		max-width : 50%;
	}

	.row .col.md-7
	{
		flex      : 0 0 58.33333333%;
		max-width : 58.33333333%;
	}

	.row .col.md-8
	{
		flex      : 0 0 66.66666667%;
		max-width : 66.66666667%;
	}

	.row .col.md-9
	{
		flex      : 0 0 75%;
		max-width : 75%;
	}

	.row .col.md-10
	{
		flex      : 0 0 83.33333333%;
		max-width : 83.33333333%;
	}

	.row .col.md-11
	{
		flex      : 0 0 91.66666667%;
		max-width : 91.66666667%;
	}

	.row .col.md-12
	{
		flex      : 0 0 100%;
		max-width : 100%;
	}
}

@media (min-width : 1200px)
{

	/*Порядок размещения блоков*/
	.row .col.order-lg-1
	{
		order : 1;
	}

	.row .col.order-lg-2
	{
		order : 2;
	}

	.row .col.order-lg-3
	{
		order : 3;
	}

	.row .col.order-lg-4
	{
		order : 4;
	}

	.row .col.order-lg-5
	{
		order : 5;
	}

	.row .col.order-lg-6
	{
		order : 6;
	}

	.row .col.order-lg-7
	{
		order : 7;
	}

	.row .col.order-lg-8
	{
		order : 8;
	}

	.row .col.order-lg-9
	{
		order : 9;
	}

	.row .col.order-lg-10
	{
		order : 10;
	}

	.row .col.order-lg-11
	{
		order : 11;
	}

	.row .col.order-lg-12
	{
		order : 12;
	}

	.row .col.lg-offset-1
	{
		margin-left : 8.3333%;
	}

	.row .col.lg-offset-2
	{
		margin-left : 16.66666667%;
	}

	.row .col.lg-offset-3
	{
		margin-left : 25%;
	}

	.row .col.lg-offset-4
	{
		margin-left : 33.33333%;
	}

	.row .col.lg-offset-5
	{
		margin-left : 41.66666667%;
	}

	.row .col.lg-offset-6
	{
		margin-left : 50%;
	}

	.row .col.lg-offset-7
	{
		margin-left : 58.3333%;
	}

	.row .col.lg-offset-8
	{
		margin-left : 66.66666667%;
	}

	.row .col.lg-offset-9
	{
		margin-left : 75%;
	}

	.row .col.lg-offset-10
	{
		margin-left : 83.3333%;
	}

	.row .col.lg-offset-11
	{
		margin-left : 91.66666667%;
	}

	.row .col.lg-1
	{
		max-width : 8.33333333%;

		flex      : 0 0 8.33333333%;
	}

	.row .col.lg-2
	{
		max-width : 16.66666667%;

		flex      : 0 0 16.66666667%;
	}

	.row .col.lg-3
	{
		max-width : 25%;

		flex      : 0 0 25%;
	}

	.row .col.lg-4
	{
		max-width : 33.33333333%;

		flex      : 0 0 33.33333333%;
	}

	.row .col.lg-5
	{
		max-width : 41.66666667%;

		flex      : 0 0 41.66666667%;
	}

	.row .col.lg-6
	{
		max-width : 50%;

		flex      : 0 0 50%;
	}

	.row .col.lg-7
	{
		max-width : 58.33333333%;

		flex      : 0 0 58.33333333%;
	}

	.row .col.lg-8
	{
		max-width : 66.66666667%;

		flex      : 0 0 66.66666667%;
	}

	.row .col.lg-9
	{
		max-width : 75%;

		flex      : 0 0 75%;
	}

	.row .col.lg-10
	{
		max-width : 83.33333333%;

		flex      : 0 0 83.33333333%;
	}

	.row .col.lg-11
	{
		max-width : 91.66666667%;

		flex      : 0 0 91.66666667%;
	}

	.row .col.lg-12
	{
		max-width : 100%;

		flex      : 0 0 100%;
	}

}

@media (max-width : 414px)
{
	.row
	{
		flex-direction : column;
	}

	.row .col
	{
		margin-bottom : inherit;
		width         : 100%;
		min-width     : 100%;
	}
}